.auth-links, .auth-links:active {
  color: #1976d2;
  font-size: 0.875rem;
  text-decoration: underline;
}

a {
  color: #fff;
  text-decoration: none;
}

.banner-card:hover {
  outline: 1px solid #1976d2;
}

.dashboard__uploadImage {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #1976d2;
  border-radius: 10px;
  min-height: 330px;
  max-height: 330px; 
  overflow: hidden;
}

.dashboard__uploadImage input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  display: block;
}

.dashboard__uploadImage div {
  padding: 14px;
  color: #1976d2;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.dashboard__uploadImage div:hover {
  background-color: rgba(255, 255, 255, 1);
}

.dashboard__uploadImage label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__uploadImage span {
  font-style: italic;
  font-size: 12px;
}

.dashboard__uploadImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}